.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(211, 211, 211, 0.7);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #062f4f;
    height: 6.8rem;
}

.title__header{
    font-size: 2.3rem;
    color: 	rgb(236, 231, 227);
    text-align: center;
}

@media (max-width: 62rem) {
    .title__header {
        font-size: 2.4rem;
    }
}

@media (max-width: 40rem) {
    .title__header {
        font-size: 2rem;
    }
}

@media (max-width: 62rem) {
    .header {
        min-height: 4rem;
    }
}

.div0 {
    display: none;
}

@media (max-width: 62rem) {
    .div0 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 20%;
        height: auto;
    }
}

.div1 {
    width: 65%;
    padding: 0;
    font-weight: bold;
    margin-left: 2.2rem;
}

@media (max-width: 85rem) {
    .div1 {
        width: 55%;
        padding: 0;
        font-weight: bold;
        margin-right: 5rem;
    }
}

@media (max-width: 62rem) {
    .div1 {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 5rem;
    }
}

.div2 {
    width: 35%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

@media (max-width: 85rem) {
    .div2 {
        width: 45%;
        display: flex;
        flex-direction: row;
        font-weight: bold;
    }
}

@media (max-width: 62rem) {
    .div2 {
        display: none;
    }
}

.link__header {
    font-size: 1.8rem;
    text-decoration: none;
    color: 	rgb(255, 245, 238);
    padding: 1rem;
    margin: 0px 1.5rem;
}

@media (max-width: 86rem) {
    .link__header {
        font-size: 1.5rem;
    }
}

.link__header.active {
    font-size: 2.2rem;
    border-bottom: 3px solid rgb(255, 215, 0);
}

@media (max-width: 85rem) {
    .link__header.active {
        font-size: 1.7rem;
    }
}

@media (max-width: 45rem) {
    .link__header.active {
        font-size: 2.7rem;
    }
}

@media (max-width: 34rem) {
    .link__header.active {
        font-size: 1.6rem;
    }
}

