.main {
    margin-top: 200px;
}

@media (max-width: 34rem) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin-top: 0;
    }
}

input {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 18px 0px 18px 0px;
    border-bottom: 2px solid #062f4f;
}

.mainInput {
    height: 2.5rem;
    width: 25rem;
    padding: 10px 15px;
    font-size: 20px;
}

@media (max-width: 34rem) {
    .mainInput {
        width: 20rem;
    }
}

@media (max-width: 26rem) {
    .mainInput {
        width: 15rem;
    }
}

.mainInput:focus {
    width: 30rem;
}

@media (max-width: 34rem) {
    .mainInput:focus {
        width: 23rem;
    }
}

@media (max-width: 26rem) {
    .mainInput:focus {
        width: 18rem;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.Name {
    color: #062f4f;
    text-shadow: 1px 4px rgb(169, 169, 169);
    font-size: 60px;
    margin: 40px 0px;
}

@media (max-width: 46rem) {
    .Name {
        font-size: 50px;
        text-shadow: 0.5px 0.5px rgb(220, 220, 220);
    }
}

@media (max-width: 36rem) {
    .Name {
        font-size: 35px;
        text-shadow: 0px 0px;
        color: #062f4f;
    }
}

@media (max-width: 26rem) {
    .Name {
        font-size: 25px;
        text-shadow: 0px 0px;
        color: #062f4f;
    }
}

/* ------  */

.Name2 {
    color: #062f4f;
    text-shadow: 1px 4px rgb(169, 169, 169);
    font-size: 60px;
    margin: 40px 0px;
}

@media (max-width: 46rem) {
    .Name2 {
        font-size: 50px;
        text-shadow: 0.5px 0.5px rgb(220, 220, 220);
    }
}

@media (max-width: 36rem) {
    .Name2 {
        font-size: 35px;
        text-shadow: 0px 0px;
        color: rgb(211,211,211);
    }
}

@media (max-width: 26rem) {
    .Name2 {
        font-size: 25px;
        text-shadow: 0px 0px;
        color: rgb(211,211,211);
    }
}

.MainTemp {
    color: rgb(211, 211, 211);
    font-size: 130px;
    margin: 20px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 46rem) {
    .MainTemp {
        font-size: 110px;
    }
}

@media (max-width: 36rem) {
    .MainTemp {
        font-size: 100px;
    }
}

@media (max-width: 26rem) {
    .MainTemp {
        font-size: 90px;
        margin: 10px 0px;
    }
}

.descript {
    color: rgb(211, 211, 211);
    font-size: 45px;
    font-weight: 700;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descript h5 {
    margin: 0px;
}

@media (max-width: 46rem) {
    .descript {
        font-size: 35px;
    }
}

@media (max-width: 36rem) {
    .descript {
        font-size: 25px;
    }
}

@media (max-width: 26rem) {
    .descript {
        font-size: 20px;
    }
}

.error {
    color: rgb(255, 215, 0);
    font-size: 45px;
    font-weight: 700;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 3.5rem;
    margin-top: 45vh;
    padding-left: 9rem;
    padding-right: 9rem;
}

@media (max-width: 46rem) {
    .error {
        font-size: 40px;
        padding:10px
    }
}

@media (max-width: 46rem) {
    .error {
        font-size: 35px;
    }
}

@media (max-width: 36rem) {
    .error {
        font-size: 25px;
    }
}

@media (max-width: 26rem) {
    .error {
        font-size: 20px;
    }
}

.aerror {
    text-decoration: none;
    font-size: 1.6rem;
    height: 2.3rem;
    width: 8.5rem;
    color: rgb(211, 211, 211);
    font-weight: bold;
    border: 2px solid rgb(211, 211, 211);
    padding: 1rem;
    border-radius: 14px 0px 14px 0px;
    margin: 0px 1.5rem;
}

.backgroundd {
    background-image: url("../Assets/foggy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
}

@media (max-width: 55rem) {
    .blur {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: -1;
    }
}

@media (max-width: 36rem) {
    .blur {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
