@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  color: rgb(211,211,211);
  background-image: url('./Assets/foggy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

