@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  color: rgb(211,211,211);
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}